/* mapa de colores */
/* tipografia */
* {
  margin: 0px;
  padding: 3px; }

body {
  background-color: #FFB226; }

h1 {
  font-size: 9vw;
  font-family: "pacifico";
  text-align: center;
  margin-top: 20px; }
  h1 .tituloPrincipal {
    animation-delay: 1s;
    animation-duration: 2s; }

h2 {
  font-family: "roboto slab";
  text-align: center;
  margin-top: 40px;
  margin-bottom: 40px; }
  h2 .tituloProductos {
    animation-delay: 1s;
    animation-duration: 2s;
    margin-top: 20px; }

h3 {
  font-family: "roboto slab";
  text-align: center; }

h4 {
  font-family: "roboto slab";
  text-align: center; }

h5 {
  font-family: "roboto slab";
  text-align: center; }

.cajaContacto {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  text-align: center;
  color: black; }

.colorCajaContacto {
  background-color: #DD890E;
  color: black; }

.textoContacto {
  text-align: center; }

a {
  text-decoration: none; }

.imgProducto1 {
  display: block;
  margin: 0px auto;
  text-align: center;
  border-radius: 7%;
  width: 350px; }

.imgProducto2 {
  display: block;
  margin: 0px auto;
  text-align: center;
  border-radius: 7%;
  width: 350px; }

.imgExtraccion1 {
  display: block;
  margin: 0px auto;
  text-align: center;
  border-radius: 7%;
  width: 350px; }

.imgExtraccion2 {
  display: block;
  margin: 0px auto;
  text-align: center;
  border-radius: 8%;
  width: 350px; }

.imgExtraccion3 {
  display: block;
  margin: 0px auto;
  text-align: center;
  border-radius: 7%;
  width: 350px; }

.videoMiel {
  display: flex;
  justify-content: center;
  margin-bottom: 80px; }

.imgNutricion {
  width: 10px; }

li {
  padding: 0px;
  transition: all 1s;
  font-size: 22px; }
  li:hover {
    border-radius: 2%;
    background-color: #DD890E;
    padding: 2px;
    font-size: 22px; }

.barraNav {
  margin-top: 50px; }

.mainInicio {
  margin-top: 30px; }

.pInicio {
  background-color: #DD890E;
  border-radius: 3%;
  text-align: center;
  margin-top: 95px;
  margin-bottom: 90px;
  font-size: 1rem; }
