@import 'variables';
@import 'mixins';


* {
    margin: 0px;
    padding: 3px;
}

body {
    background-color: map-get($mapa-colores, fondoGeneral)
}

h1 {
    font-size: 9vw;
    font-family: $font-title;
    text-align: center;
    margin-top: 20px;

    .tituloPrincipal {
        animation-delay: 1s;
        animation-duration: 2s;
    }
}


h2 {
    font-family: $font-subtitle;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;

    .tituloProductos {
        animation-delay: 1s;
        animation-duration: 2s;
        margin-top: 20px;
    }
}

h3 {
    font-family: $font-subtitle;
    text-align: center;
}


h4 {
    font-family: $font-subtitle;
    text-align: center;
}

h5 {
    font-family: $font-subtitle;
    text-align: center;
}


.cajaContacto {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    text-align: center;
    color: black;
}

.colorCajaContacto {
    background-color: map-get($mapa-colores, fondoNav);
    color: black;
}

.textoContacto {
    text-align: center;
}

a {
    text-decoration: none;
}

.imgProducto1 {
    display: block;
    margin: 0px auto;
    text-align: center;
    border-radius: 7%;
    @include width(350px)
}


.imgProducto2 {
    display: block;
    margin: 0px auto;
    text-align: center;
    border-radius: 7%;
    @include width(350px)
}

.imgExtraccion1 {
    display: block;
    margin: 0px auto;
    text-align: center;
    border-radius: 7%;
    @include width(350px)
}

.imgExtraccion2 {
    display: block;
    margin: 0px auto;
    text-align: center;
    border-radius: 8%;
    @include width(350px)
}

.imgExtraccion3 {
    display: block;
    margin: 0px auto;
    text-align: center;
    border-radius: 7%;
    @include width(350px)
}

.videoMiel{

    margin-bottom: 80px;
}


.imgNutricion {
    width: 10px;
}


li {
    padding: 0px;
    transition: all 1s;
    font-size: 22px;

    &:hover {
        border-radius: 2%;
        background-color: map-get($mapa-colores, fondoNav);
        padding: 2px;
        font-size: 22px;
    }
}


.barraNav {
    margin-top: 50px;
}

.mainInicio {
    margin-top: 30px;
}

.pInicio {
    background-color: map-get($mapa-colores, fondoNav);
    border-radius: 3%;
    text-align: center;
    margin-top: 95px;
    margin-bottom: 90px;
    font-size: 1rem;
}