@import 'variables';
@import 'mixins';


* {
    margin: 0px;
    padding: 3px;
}

body {
    background-color: map-get($mapa-colores, fondoGeneral)
}

h1 {
    font-size: 6rem;
    font-family: $font-title;
    text-align: center;
    margin-top: 20px;

    .tituloPrincipal {
        animation-delay: 1s;
        animation-duration: 2s;
    }
}


h2 {
    font-family: $font-subtitle;
    text-align: center;

    .tituloProductos {
        animation-delay: 1s;
        animation-duration: 2s;
    }
}

h3 {
    font-family: $font-subtitle;
    text-align: center;
}

.tituloFooter {
    animation-delay: 1s;
    animation-duration: 2s;
}

h4 {
    font-family: $font-subtitle;
    text-align: center;
}

h5 {
    font-family: $font-subtitle;
    text-align: center;
}

.textoInicio {
    text-align: center;
}



.cajaContacto {
    display: flex;
    justify-content: center;
    margin-left: 30px;
}

.textoContacto {
    text-align: center;
}

.imgProducto1 {
    @include width(390px)
}

.imgProducto2 {
    @include width(390px)
}

.imgExtraccion1 {
    @include width(400px)
}

.imgExtraccion2 {
    @include width(400px)
}



li {
    padding:0px;
    transition: all 1s;
    font-size: 22px;

    &:hover {
        border-radius: 10%;
        background-color: map-get($mapa-colores, fondoNav);
        padding: 2px;
        font-size: 22px;
    }
}



.barraNav{
    margin-top: 50px;
}

.mainInicio{
    margin-top: 30px;
}

.pInicio{
    background-color: map-get($mapa-colores, fondoNav);
    border-radius: 15%;
    text-align: center;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 1rem;
}